<h3>Live Scene</h3>
<div>
  <button mat-raised-button (click)="setChecked()" [disabled]="!anyChecked || !loaded">Set Checked</button>
  <button mat-raised-button (click)="selectAll()" [disabled]="!loaded">Select All</button>
  <button mat-raised-button (click)="clearAll()" [disabled]="!loaded">Clear All</button>
  <button mat-raised-button (click)="invertAll()" [disabled]="!loaded" >Invert Selection</button>
  <button mat-raised-button (click)="setScene()" [disabled]="!anyChecked || !loaded">Set scene!</button>
  <button mat-raised-button (click)="saveScene()" [disabled]="!loaded" >Save</button>
  <button mat-raised-button (click)="loadScene()" [disabled]="!loaded" >Load</button>
</div>
<div class="colorDiv">
  <!-- <mat-color-picker></mat-color-picker> -->
  Select Color <input type="color" [(ngModel)]="selectedColor" [disabled]="!loaded"/>
</div>
<app-instrument-list [instruments]="instruments" [enabled]="loaded" [loading]="loading" (checkChanged)="onCheckChanged($event)"></app-instrument-list>
