<h3>Live Scene</h3>
<div>
  <button mat-raised-button (click)="setChecked()">Set Checked</button>
  <button mat-raised-button (click)="selectAll()">Select All</button>
  <button mat-raised-button (click)="clearAll()">Clear All</button>
  <button mat-raised-button (click)="invertAll()">Invert Selection</button>
  <button mat-raised-button (click)="setScene()">Set scene!</button>
  <button mat-raised-button (click)="saveScene()">Save</button>
</div>
<div>
  <!-- <mat-color-picker></mat-color-picker> -->
  Select Color <input type="color" [(ngModel)]="selectedColor" />
</div>
<app-instrument-list [instruments]="instruments"></app-instrument-list>
