<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Socket" [(ngModel)]="data.instrument.socket" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.instrument.name" required>
  </mat-form-field>
  <mat-form-field>
      <mat-select #instTypes placeholder="Select" [(ngModel)]="data.instrument.instrumentType" required>
        <mat-option *ngFor="let instType of data.instrumentTypes" [value]=[instType._id]>{{instType.typeShortName}}</mat-option>
      </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickClose()">Close</button>
  <button mat-button [mat-dialog-close]="data.instrument" cdkFocusInitial>Save</button>
</div>
