<div>
  <button mat-button (click)="addInstrument()" class="add-button"><div class="fas fa-plus-circle fa-2x"></div></button>
</div>
<div>
  <mat-table #table [dataSource]="instruments">

    <!-- Columns -->
    <ng-container matColumnDef="socket">
      <mat-header-cell *matHeaderCellDef> Socket </mat-header-cell>
      <mat-cell *matCellDef="let instrument"> {{instrument.socket}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let instrument"> {{instrument.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let instrument"> {{instrument.instrumentTypeId.type_short_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef> LEDs </mat-header-cell>
      <mat-cell *matCellDef="let instrument"> {{instrument.instrumentTypeId.instrumentCount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let instrument">
          <button mat-button (click)="clickEdit(instrument)"><div  class="fas fa-edit"></div></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let instrument">
          <button mat-button (click)="clickDel(instrument)"><div  class="fas fa-trash"></div></button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</div>
