<mat-tab-group class="demo-tab-group">
  <mat-tab label="Tab 1">
    <ng-template mat-tab-label>
      <mat-icon>security</mat-icon>
    </ng-template>
    <div class="demo-tab-content">
      Security
    </div>
  </mat-tab>
  <mat-tab label="Tab 4">
    <ng-template mat-tab-label>
      <mat-icon>loop</mat-icon>
    </ng-template>
    <div class="demo-tab-content">
      Loop
    </div>
  </mat-tab>
  <mat-tab label="Tab 5">
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>
    </ng-template>
    settings
  </mat-tab>
  <mat-tab label="Tab 5">
      <ng-template mat-tab-label>
        <mat-icon>info</mat-icon>
      </ng-template>
      Help
    </mat-tab>
  </mat-tab-group>
