<div class="instrument">
  <div class="instrumentLayout">{{instrument.socket}}</div>
  <div class="instrumentLayout">
    <mat-checkbox [checked]="instrument.checked" (change)="instrument.checked = !instrument.checked"></mat-checkbox>
  </div>
  <div class="instrumentLayout">
    <div class="color-square" [style.background-color]="instrument.color"></div>
  </div>
  <div class="instrumentLayout">
    <button mat-fab (click)="bump()">Bump</button>
  </div>
  <div class="vert-container">
  <div class="instrumentLayout vertical-text">{{instrument.name}}</div>
</div>
</div>
