<div class="instrument">
  <div class="instrumentLayout">{{instrument.socket}}</div>
  <div class="instrumentLayout">
    <mat-checkbox [checked]="instrument.checked" (change)="checked()" [disabled]="!enabled"></mat-checkbox>
  </div>
  <div class="instrumentLayout">
    <div class="color-square" [style.background-color]="enabled ? instrument.color : gray"></div>
  </div>
  <div class="instrumentLayout">
    <button mat-fab (click)="bump()" [disabled]="!enabled">Bump</button>
  </div>
  <div class="vert-container">
  <div class="instrumentLayout vertical-text">{{instrument.name}}</div>
</div>
</div>
