<h1 mat-dialog-title>Select a Scene</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Select" [(value)]="sceneInfo.SelectedScene">
      <mat-option *ngFor="let scene of data.scenes" value={{scene._id}}>{{scene.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [checked]="sceneInfo.IgnoreBlack" (change)="sceneInfo.IgnoreBlack = !sceneInfo.IgnoreBlack">Ignore black instruments</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">Close</button>
  <button mat-button [mat-dialog-close]="sceneInfo" cdkFocusInitial>Load</button>
</div>
